[package]
name = "anchor_selector"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "popup"
path = "src/popup.rs"

[[bin]]
name = "cmd"
path = "src/cmd.rs"

[dependencies]
eframe = "0.29"
egui = "0.29"
